RABBITMQ_SERVER=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_ERLANG_COOKIE=12345
RABBITMQ_DEFAULT_USER=guest1
RABBITMQ_DEFAULT_PASS=guest1
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_DEFAULT_QUEUE=wa-text

SPREED_SHEET_ID=
SPREED_SHEET_AUTH=

MASTER_PHONE_NUMBER=
TARGET_WA_MESSAGE=

TZ=America/Sao_Paulo